p {
	margin: 0;
}

.brief-intro {
	font-family:'Hachi Maru Pop', 'Potta One', cursive;
	color: khaki;
	text-shadow: 0.2em 0.2em 0.3em darkblue;
	padding-left:5%;
	font-size: 14px;
}
@media only screen and (orientation:portrait) {
	.brief-intro {
		font-size: 14px;
		position: relative;
		top: 22.535%;
	}
}

@media only screen and (orientation:landscape) {
	.brief-intro {
		font-size: 16px;
		position: relative;
		top: 12.535%;
	}
}

.blink-cursor {
	border-width: 0 7px 0 0;
	border-style: solid;
	border-color: darkblue;
	animation: blinkcursor 1s step-end infinite;
}


@keyframes blinkcursor {
	0%, 100% {
		border-color: transparent;
	}

	50% {
		border-color: darkblue;
	}
}